-r requirements.txt
mypy==0.961
pytest==6.0.2
pytest-mypy==0.7.0
pytest-cov==2.10.1
pytest-flask==1.0.0
flake8==3.9.2

types-Flask==1.1.1
types-atomicwrites==0.1.5
types-click==7.1.8
types-cryptography==3.3.21
types-toml==0.10.7
