# general
paji-sdk==0.1.0a1
omegaconf==2.0.5
click==7.1.2

# server
Flask==1.1.2
flask_cors==3.0.10
waitress==1.4.4

# db_backup_ext
APScheduler==3.6.3
google-cloud-container==2.7.1
kubernetes==18.20.0
dropbox==11.17.0

# jessiclient
redis==3.5.3
