# general
paji-sdk==0.2.2

# cli
click==7.1.2

# config
omegaconf==2.0.5

# schema
pydantic==1.7.3

# server
fastapi==0.62.0
uvicorn[standard]==0.13.1

# database
SQLAlchemy==1.3.20
PyMySQL==0.10.1

# cache
redis==3.5.3

# db_backup_ext
APScheduler==3.6.3
google-cloud-container==2.10.8
kubernetes==23.6.0
dropbox==11.32.0
